html,
body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background: #23272a;
    overflow: hidden;
    font-size: 1rem;
}

:focus {
    outline: none;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #2c2f33;
}

::-webkit-scrollbar-thumb {
    background: #8e4e4ec4;
}

::-webkit-scrollbar-thumb:hover {
    background: #949494;
    //background: #242222cc;
}

::selection {
    background: #8e4e4ec4;
}


//tooltip
tooltip {
    visibility: hidden;
    white-space: nowrap;
    background-color: #3f4348;
    color: #bdbdbd;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: calc(100% + 10px);
    right: 0;
    font-size: 1rem;
}

tooltip::after {
    content: "";
    position: absolute;
    bottom: 100%;
    right: 15px; //indicator half - padding
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #3f4348 transparent;
}

.indicator:hover tooltip {
    visibility: visible;
}

//

$title_bar_h: 25px;

.title-bar {
    -webkit-app-region: drag;
    height: $title_bar_h;
    background-color: #2b2b2b;
    padding: none;
    margin: 0px;
    font-size: 15px;
    color: #949494;
    user-select: none;

    .options {
        -webkit-app-region: no-drag;
        display: flex;
        float: left;
        margin-left: 25px;

        .option {
            padding: 2px 5px 4px 5px;
            cursor: pointer;

            &:hover {
                background: #3f4348;
            }
        }
    }

    .appname {
        margin: 2px;
        position: absolute;
        top: 0;
        left: 50vw;
        transform: translateX(-50%);
    }

    .buttons {
        -webkit-app-region: no-drag;
        float: right;
        display: flex;

        .button {
            font-family: "Segoe MDL2 Assets";
            padding: 5px 8px;
            cursor: pointer;
        }
    }
}

#btn-min:hover,
#btn-max:hover {
    background: #3f4348;
}

#btn-close:hover {
    background: #8e4e4e;
}


//

.content {
    height: calc(100vh - #{$title_bar_h});
    overflow: hidden scroll;
}

.wrapper {}

.card {
    display: flex;
    color: #949494;
    background-color: #2c2f33;
    border: solid 2px;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    font-size: 25px;

    &.draggable--over {
        color: #497ab7;
        border: solid 2px #497ab7;

        .pair .msg .text:empty:before {
            color: #3d546f;
        }
    }

    &.draggable-mirror {
        color: #49b796;
        border: solid 2px #49b796;

        .pair .msg .text:empty:before {
            color: #356154;
        }
    }

    .info {
        position: relative;
        text-align: center;
        flex: 0 0 40px;

        .delete-card {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            transition: padding 100ms linear;
            font-family: "Segoe MDL2 Assets";
            font-size: 20px;
            padding: 5px;
            cursor: pointer;

            &:hover {
                color: #fd2d2d;
                font-size: 25px;
                padding: 0;
            }

            &::before {
                content: "\E74D"
            }
        }
    }

    .pair {
        width: calc(100% - 149px);
        margin: 0 10px;
        border-right: solid 2px;
        border-left: solid 2px;

        .msg {
            .text {
                padding: 5px 10px;
                margin: 0 10px;

                &:empty:before {
                    color: #505050;
                    content: "Empty message";
                    cursor: text;
                }

                &:empty:focus:before {
                    content: ""
                }
            }

            .attached {
                padding: 5px 10px;
                margin: 0 10px;
                border-radius: 10px;
                background-color: #3f4348;
                color: #dedede;
                font-size: 15px;
                min-width: 45px;
                display: inline-block;

                &:empty:before {
                    color: #909090;
                    cursor: pointer;
                    content: "No attachment"
                }

                &:empty:focus:before {
                    content: ""
                }
            }
        }

        .delimiter {
            margin: 10px;
            border-bottom: solid 1px;
        }
    }

    .indicator {
        position: relative;
        flex: 0 0 40px;
        background-color: #583d3d;
        transition: background-color 250ms;

        cursor: pointer;

        &.enabled {
            background-color: #335f37;
            transition: background-color 250ms;
        }

        &.seq {
            margin-right: 5px;
        }
    }

    &.add-card {
        color: #bdbdbd;
        background-color: #20589e;
        border: solid 2px #497ab7;
        cursor: pointer;

        &:hover {
            background-color: #2861a9;
        }

        .text {
            margin-left: 10px;
            padding-left: 20px;
            border-left: solid 2px;
        }
    }
}